.spotify-resume {
    &__card {
        position: relative;
        padding: 1rem;
        background-color: var(--secondary-dark-color);
        border-radius: .3rem;
        transition: all .5s;

        &-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 12.75rem);
            gap: 1.5rem;
        }

        &-image {
            width: 100%;
            border-radius: .3rem;
            margin-bottom: 1rem;
        }

        &-icon {
            position: absolute;
            right: 1.8rem;
            top: 8rem;
            opacity: 0;
            transform: translateY(.5rem);
            transition: all .3s;
        }

        &-title {
            font-size: 1rem;
            margin-bottom: .3rem;
        }

        &-description {
            @include flex-center;
            flex-wrap: wrap;
            font-size: .875rem;
            color: var(--secondary-white-color);

            &-position {
                @include flex-center;

                &::before {
                    content: "•";
                    margin: 0 .25rem;
                    font-size: .5rem;
                }
            }
        }

        &:hover {
            background-color: var(--tertiary-dark-color);

            .spotify-resume__card-icon {
                opacity: 1;
                transform: translateY(0);
                transition: all .3s;
            }
        }
    }
}
