.play-btn {
    @include flex-center;
    justify-content: center;
    background-color: var(--primary-green-color);
    color: var(--absolute-dark-color);
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    
    &--lg {
        width: 3.5rem;
        height: 3.5rem;
        background-color: var(--primary-green-color);

        &:hover {
            transform: scale(1.05);
            background-color: var(--highlight-green-color);
        }
    }

    &--white {
        background-color: var(--absolute-white-color);
        color: var(--absolute-dark-color);
        margin: auto 2rem;
        width: 2rem;
        height: 2rem;
        
        i {
            font-size: 1rem;
        }
    }

    &--disabled {
        opacity: .3;
        cursor: initial;

        &:hover {
            transform: scale(1);
            background-color: var(--primary-green-color);
        }
    }

    @media only screen and (max-width: 37.5rem) {
        &--white {
            width: 3.5rem;
            height: 3.5rem;
            margin: auto 0rem;

            i {
                font-size: 1.4rem;
            }
        }
    }
}
