
:root {
    --absolute-dark-color: #000;
    --primary-dark-color: #121212;
    --secondary-dark-color: #171717;
    --tertiary-dark-color: #282828;
    --highlight-dark-color: #2a2929;

    --absolute-white-color: #fff;
    --opaque-absolute-white-color: rgb(from var(--absolute-white-color) r g b / 0);
    --primary-white-color: #b3b3b3;
    --secondary-white-color: #6a6a6a;
    --tertiary-white-color: #323638;

    --primary-green-color: #1ed760;
    --highlight-green-color: #1fdf64;

    --primary-blue-color: #3d91f4;
    --primary-gradient-blue-color: #1b394c;
    --secondary-gradient-blue-color: #1c394b;
    --tertiary-gradient-blue-color: #17262f;
}
