.spotify-resume {
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 40vh;

        padding: 0 2rem 1.5rem;
        position: relative;

        &::before {
            background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("./assets/background-profile.png");
            background-size: var(--bg-size);
            background-position-x: center;
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: var(--bg-opacity);
            z-index: 0;
        }

        &-container {
            grid-column: 2 / -1;
            grid-row: 1 / 2;

            background-image: linear-gradient(var(--primary-gradient-blue-color) 40%, var(--secondary-gradient-blue-color) 55%, var(--tertiary-gradient-blue-color) 65%, var(--primary-dark-color) 75%, var(--primary-dark-color));
        }

        &-badge {
            @include badge;
        }

        &-title {
            font-size: 6rem;
            margin: .5rem 0 1rem;
            z-index: 1;
        }

        &-description {
            font-size: 1rem;
            z-index: 1;
        }

        @media only screen and (max-width: 37.5rem) {
            padding: 0 1.5rem 1rem;

            &-title {
                font-size: 5rem;
            }

            &-badge {
                display: none;
            }

            &::before {
                background-size: auto var(--bg-size);
                background-position-y: bottom;
            }
        }
    }
}
