.spotify-resume {
    &__personal-data {
        list-style-type: none;

        &-item {
            @include flex-center;
            height: 2.5rem;
            font-size: .875rem;
        }

        &-link {
            @include flex-center;
            gap: 1rem;
            text-decoration: none;
            color: var(--primary-white-color);

            i {
                width: 1.5rem;
            }
        }

        &--social {
            margin-top: 2.5rem;
        }
    }
}
