$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

@font-face {
    font-family: "CircularSp";
    src: url("./assets/fonts/circularspotifytext-medium-webfont.woff") format("woff"),
}

@font-face {
    font-family: "CircularSpTitle";
    src: url("./assets/fonts/circularspotifytext-bold-webfont.woff") format("woff"),
}

@font-face {
    font-family: "CircularSpLight";
    src: url("./assets/fonts/circularspotifytext-light-webfont.woff") format("woff"),
}

:root {
    --absolute-dark-color: #000;
    --primary-dark-color: #121212;
    --secondary-dark-color: #232323;
    --tertiary-dark-color: #282828;
    --highlight-dark-color: #2a2929;

    --absolute-white-color: #fff;
    --primary-white-color: #b3b3b3;
    --secondary-white-color: #6a6a6a;

    --primary-green-color: #1cd760;
    --secondary-green-color: #1db855;

    --primary-blue-color: #3d91f4;
    --secondary-blue-color: #1d3342;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: CircularSp, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;
}

i {
    font-size: 1.4rem;
    font-weight: 300;
}

.spotify-resume {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;

    background-image: linear-gradient(var(--secondary-blue-color), var(--primary-dark-color));
    color: var(--absolute-white-color);

    &__aside {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        background-color: var(--absolute-dark-color);
        padding: 1.5rem;
    }

    &__nav {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }

    &__header {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
    }

    &__main {
        grid-column: 2 / -1;
        grid-row: 3 / 4;
    }

    &__footer {
        grid-column: 1 / -1;
        grid-row: 4 / -1;
    }

    &__logo {
        width: 8.125rem;
        margin-bottom: 1.5rem;
    }

    &__personal-data {
        list-style-type: none;

        &-item {
            display: flex;
            align-items: center;
            height: 2.5rem;
            font-size: .875rem;
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: var(--primary-white-color);
        }

        &--social {
            margin-top: 2.5rem;
        }
    }
}
